body {
    font-family: "Nuosu SIL", serif;
    background-image: linear-gradient(135deg, #b1f15d 0%, #cc8c8c 100%);
  }
  .navbar {
    background-image: linear-gradient(135deg, #363636 0%, #ffffff 100%);
    padding: 10px !important;
  }
  .top-header-agile {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  }
  .top-header-agile ul li {
    display: inline;
    list-style: none;
    color: #fff;
  }
  #spark-img {
    height: 40px;
    width: 40px;
  }
   
  .nav-item {
    font-weight: bold;
    margin-left: 20px;
  }
  .navbar-collapse {
    margin-left: 50%;
  }
  .col-md-4,
  .col-md-3,
  .col-md-10 {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #9a9a9a 100%);
    color: rgb(15, 15, 15);
    margin: 23px;
  }
  .quote {
    font-weight: bold;
    color: #544f4a;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .col-md-6 {
    margin-top: 50px;
  }
  .footer {
    text-align: center;
    margin-top: 50px;
    background-image: linear-gradient(135deg, rgb(59, 59, 59) 0%, #ffffff 100%);
    padding: 15px;
  }
  .footer-ele {
    margin: 30px;
  }